
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
  
    // Regla de seguridad abierta para desarrollo
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
